:root {
    --main-color: rgb(9, 113, 231);
    --black: #13131a;
    --bg: white;
    --white: #ffffff;
    --border: .1rem solid rgba(14, 14, 14, 0.22);
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn,
button {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black);
}
.header .navbar a.active{
    font-weight: 600;
    color: var(--black);
    border-bottom: .2rem solid var(--black);
    padding-bottom: .5rem;
}
.header .navbar a:hover {
    border-bottom: .2rem solid var(--black);
    border-radius: 2px;
    padding-bottom: .5rem;
}

.header .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header .icons i {
    color: var(--black);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons i:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.home {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    text-align: center;
}

.home .content {
    max-width: 50rem;
    flex: 1 1 45rem;
}
.home .content h2{
    max-width: 50rem;
    flex: 1 1 45rem;
    padding: 2rem 0;
    font-size: 2rem;
}
.home .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.home .content h3 span {
    color: var(--main-color);
}

.home .content p {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: bold;
}
.home .content .three p{
    font-size: 3rem;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    /* border: var(--border); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu .box-container .box img {
    height: 15rem;
    margin: 2rem 0;
    padding: 1rem;
}

.menu .box-container .box h3 {
    color: var(--black);
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: var(--black);
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 2rem;
}

.review .box-container .box p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--black);
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--black);
}

.review .box-container .box .stars {
    font-size: 1.5rem;
    color: var(--main-color);
}

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    border: var(--border);
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}

.blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

.footer {
    background: whitesmoke;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: var(--border);
}

.footer .share {
    padding: 1rem 0;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
    border: var(--border);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 0;
    gap: .5rem;
}

.footer .links a {
    padding: .2rem 0;
    color: var(--black);
    font-size: 2rem;
}
.footer .links a:hover,
.footer .active{
    font-weight: 600;
}
.footer .cont{
    font-size: 1.5rem;
}
.footer .cont h3{
    font-weight: lighter;
}
.credit {
    font-size: 2rem;
    color: var(--black);
    font-weight: lighter;
    padding: 1.5rem;
}

.credit span {
    color: var(--main-color);
}


/* media queries */

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 100;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar .active {
        right: 0;
    }
    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form {
        width: 90%;
        right: 2rem;
    }
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3 {
        font-size: 4.5rem;
    }
    .home .content p {
        font-size: 1.5rem;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }
    .login {
        display: none;
    }
}

form {
    /* width: 60vw;
    max-width: 500px;
    min-width: 300px; */
    margin: 0 auto;
    padding: 1rem 2rem;
    border: 1px solid var(--black);
}

fieldset {
    border: none;
    padding: 1.5rem;
}

label {
    display: block;
    margin: 0.5rem 0;
    color: var(--black);
    font-size: 1.4rem;
}
input,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    border-bottom: 1px solid black;
}
input[type="submit"] {
    display: block;
    width: 98%;
    margin: 1em auto;
    font-size: 1.8rem;
    background-color:var(--main-color);
    color: var(--white);
    min-width: 50vw;
    padding: 1.4rem;
}
