:root {
    --main-color: rgb(8, 94, 180);
    --black: #13131a;
    --bg: white;
    --white: #ffffff;
    --border: 1px solid rgba(0, 0, 0, 0.62);
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Cardo", sans-serif;
}
h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 7%);
  font-family: var(--font-primary);
}

* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
body {
  font-family: var(--font-default);
  color: var(--black);
  background-color: var(--bg);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 5rem;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 1rem 0;
  background-color: white;
}
  
.header .logo {
  transition: 0.3s;
}
  
.header .logo img {
  max-height: 40px;
  margin-right: 8px;
}
  
.header .logo h1 {
  font-size: 1.9rem;
  margin: 0;
  font-weight: 400;
  color: var(--main-color);
  font-family: var(--font-secondary);
}
  
  
@media (max-width: 575px) {
  .header .logo h1 {
    font-size: 26px;
  }

  .header .logo i {
    font-size: 24px;
  }
} 
/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .header{
    border-bottom: var(--border);
  }
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: var(--font-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(1, 1, 1, 0.938);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--main-color);
  }
  .navbar .active{
    color: var(--black);
    font-weight: 600;
    border-bottom: 2px solid var(--black);
    border-radius: 2px;
    padding-bottom: .4rem;
  }
  .navbar a:hover{    
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: var(--bg);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--black);
    letter-spacing: 1px;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--main-color);
  } 
  .navbar .active{
    font-size: 1.2  rem;
    font-weight: 600;
  } 
  .mobile-nav-show {
    color: var(--black);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin: 0 10px 0 10px;
  }

  .mobile-nav-hide {
    color: var(--black);
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: white;
    z-index: 9996;
  }
}
  
/* home section */
.home{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    text-align: center;
    text-align: center;
    overflow: hidden;
}

.home .description h2{
    font-size: 3.5rem;
}
.home .description span{
  font-size: 80%;
color: var(--white);
}
/* end of home section */
/* hire page */
.hire .heading {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.hire .heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.hire .btn,
.hire button {
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.hire .btn:hover {
  letter-spacing: .2rem;
}

.hire{
  background: var(--bg);
}

.hire section {
  padding: 2rem 7%;
}
.hire .home {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    text-align: center;
}

.hire .home .content {
  color: var(--white);
  max-width: 50rem;
  flex: 1 1 45rem;
}
.hire .home .content h2{
  max-width: 50rem;
  flex: 1 1 45rem;
  padding: 2rem 0;
  font-size: 2rem;
}
.hire .home .content h3 {
  font-size: 3rem;
  color: var(--black);
}
.hire .home .content h3 span {
  color: var(--white);
}

.hire .home .content p {
  font-size: 3rem;
  color: var(--main-color);
  font-weight: bold;
}
.hire .home .content .three p{
  font-size: 3rem;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 1rem;
  text-align: center;
}

.menu .box-container .box img {
  height: 20rem;
  width: 100%;
}
.menu .box-container .box img:hover{
  transform: scale(1.05);
  border-radius: .5rem;
}
.menu .box-container .box h3 {
  text-align: center;
  color: var(--black);
  font-size: 2rem;
  padding: 1rem 0;
}

.menu .box-container .box .price {
  text-align: center;
  color: var(--black);
  font-size: 2.5rem;
  padding: .5rem 0;
}
.menu .box-container .box button{
width: 85%;
margin: 1em auto;
min-width: 20vw;
}
.menu .box-container .box button:hover{
  background-color:rgba(8, 94, 180,0.75);
}
.menu .box-container .box .price span {
  font-size: 2.5rem;
  color: var(--main-color);
}

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 2rem;
}

.review .box-container .box p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: var(--black);
  padding: 2rem 0;
}

.review .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--black);
}

.review .box-container .box .stars {
  font-size: 1.5rem;
  color: var(--main-color);
}
/* media queries */

@media(max-width:991px) {
  html {
      font-size: 55%;
  }
  .hire section {
      padding: 2rem;
  }
}

@media(max-width:768px) {
  .hire .home {
      background-position: left;
      justify-content: center;
      text-align: center;
  }
  .hire .home .content h3 {
      font-size: 4.5rem;
  }
  .hire .home .content p {
      font-size: 1.5rem;
  }
}

.hire form {
  margin: 0 auto;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  padding: 1.2rem;
  border: 1px solid var(--black);
}
.hire form fieldset {
  border: none;
  padding: 1.5rem;
}

.hire form label {
  display: block;
  margin: 0.5rem 0;
  color: var(--black);
  font-size: 1.4rem;
}
.hire form input,
.hire form select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  border-bottom: 1px solid black;
}
.hire form input[type="submit"] {
  display: block;
  width: 80%;
  margin: 1em auto;
  font-size: 1.8rem;
  background-color:var(--main-color);
  color: var(--white);
  min-width: 35vw;
  padding: 1.4rem;
}

/* end of hire page */
.tours .home{
  height: 80vh;
}
.tours .home .content{
  padding-top: 5rem;
}
.tours .home .content h2{
padding: 2rem;
}
.tours .hero {  
  padding: 15px 5%;
}
.tours .hero .row{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}
.tours .hero .row .col{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 400px;
  min-height: 5rem;
}
.tours .hero .row .col .image{
  max-width: 450px;
  max-height: 250px;
}
.tours .hero .row .col .image img{
  width: 100%;
  height: 100%;
}
.btn{
  color: var(--white);
  background-color: var(--main-color);
  padding: .6rem 1.2rem;
  font-size: 1.3rem;
  border-radius: .5rem;
  text-align: center;
} 
.btn:hover{
  color: var(--white);
  background-color: #007bff;
} 
.tours .plan{
  padding: 15px 7%;
  min-height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-stretch;
  flex: 1 1 45rem;
  flex-wrap: wrap;
}
.tours .plan .image{
  flex: 40%;
}
.tours .plan .memory{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: var(--border);
  padding: 1.5rem;
  border-radius: .5rem;
  height: 280px;
  width: 480px;
}

.tours .connect{
  margin-top: 2rem;
  text-align: center;
  min-height: 60vh;
  padding: 15px 7%;
}
.tours .connect form{
  width: 60vw;
  text-align: start;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2em;
  border: var(--border);
  border-radius: .5rem;
}
.tours .connect h2{
  font-size: 1.8rem;
  color: green;
}
.tours .connect h2 span{
color: var(--main-color);
}
.tours .connect h3,h2{
  text-align: center;
  padding-bottom: .8rem;
  text-transform: capitalize;
  font-size: 1.4rem;
  color: var(--main-color);
}
.tours .connect form label{
  display: block;
  margin: 0.5rem 0;
}
.tours .connect form input,textarea {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  padding-left: .3rem;
}

input,textarea {
  border-bottom: var(--border);
}

textarea{
  border: var(--border);
} 
.tours .connect form button{
  display: block;
  width: 90%;
  margin: 1em auto;
  font-size: 1.1rem;
  border-color: white;
  min-width: 20vw;
}
@media(max-width: 450px) {
  .tours .connect{
      padding: 2px;
  }
}

.buy {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
}
.buy .home{
  min-height: 90vh;
}  
.buy .head{
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: var(--main-color);
  color: #fff;
  border-bottom: 4px solid var(--black);
}
.about {
  padding: 50px 0;
}

.about .title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
  color: var(--black);
}

.about .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.about .column {
  flex: 1 0 300px;
  max-width: 300px;
}

.about .content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.about .content:hover {
  transform: translateY(-5px);
}

.about h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--main-color);
} 

.about p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--black);
  margin-bottom: 20px;
  text-align: start;
}

.about .btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
  .about .column {
      max-width: 100%;
      margin-bottom: 30px;
  }
}



.footer {
  padding: 10px 2%;
  background: whitesmoke;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-top: var(--border);
}
.footer .div1{
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.footer .share {
  margin: 0 auto;
  padding: 1rem 0;
}

.footer .logo{
  width: 50px;
}
.footer .logo img{
  width: 100%;
}
.footer .share a {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 1.4rem;
  border: var(--border);
  margin: .5rem;
  border-radius: 50%;
}
.bi-facebook{
  color: rgba(0, 38, 255,0.95);
}
.bi-instagram{
  color: maroon;
}
.bi-linkedin{
  color: rgb(0, 102, 255);
}
.bi-whatsapp{
  color: rgba(0, 128, 0,0.7);
}
.footer .share a:hover {
  background-color: var(--white);
}

.footer .links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: .5rem;
}

.footer .links a {
  font-family: var(--font-primary);
  color: var(--black);
  font-size: 1.2rem;
}
.footer .links a:hover,
.footer .active{
  font-weight: 600;
}

.footer .cont h3{
  font-size: 1.2rem;
  font-weight: lighter;
}
.share a{
padding:1rem;
}
.credit {
  text-align: center;
  font-size: 1rem;
  color: var(--black);
  font-weight: lighter;
  padding: 1rem;
}

.credit span {
  color: var(--main-color);
}
.test h1{
  color: var(--main-color);
}
.testimonial{
  padding: 10px 7%;
}
.earn .testimonial h2{
font-size: 2rem;
padding: 1rem;
}
.testimonial .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.testimonial .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 2rem;
}

.testimonial .box-container .box p {
  font-size: 1rem;
  line-height: 1.2;
  color: var(--black);
  padding: 1rem 0 .2rem 0;
}

.testimonial .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial .box-container .box h3 {
  padding: .5rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--black);
  text-transform: capitalize;
}
.testimonial .box-container .marks{
  margin-top: 1.2rem;
}
.testimonial .box-container .marks i{
  color: var(--main-color);
  font-size: 2rem;
}
.earn .home{
  height: 60vh;
}
.earn .hero{
  min-height: 75vh;
}
.earn .hero h2{
  text-transform: none;
  font-size: 3.4rem;
  padding-bottom: 4rem;
}
.earn .hero h1{
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: .8rem;
}
.earn .hero p{
  font-family: var(--font-default);
  font-weight: 100;
  line-height: 1.8;
}
.earn .connect{
  background-color: var(--main-color);
  min-height: 75vh;
  color: var(--white);
}
.earn .connect .row{
  padding: 10px 7%;
}

.earn .connect h3{
  margin-top: 2rem;
  color: var(--white);
  font-weight: 600;
}
.earn .connect p{
  font-family: var(--font-default);
  font-weight: 100;
  line-height: 1.5;
  padding: .8rem 0;
}
.earn .connect form label{
  font-family: var(--font-primary);
  display: block;
  margin: 0.5rem 0;
}
.earn .connect form input{
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  padding-left: .3rem;
  background-color: transparent;
  border-bottom: .1px solid var(--white);
  color: var(--white);
}

.earn .connect form button{
  display: block;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  border-color: white;
  min-width: 20vw;
} 
.index .offer{
  padding: 10px 7%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2.5rem;
  margin-top: -9%;
  overflow: hidden;
}
.index .offer > div{
  background-color: var(--white);
  min-height: 150px;
  height: 200px;
  padding: .8rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
}
.index .offer a{
  width: 50%;
  padding: .2rem;
}
.index .home{
  background-image: url(../images/bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5%;
}
.index .home h2{
  color: yellow;
}

.grow form{
  max-height: 500px;
  background-color: var(--white);
  color: var(--black);
  padding: 1.5rem;
  position: relative;
}

.grow form input{
  border: .1rem solid gray;
}
.grow form .btn{
  width: 100%;
  text-transform: capitalize;
  margin: 1.2em auto;
  font-size: 1.2rem;
  min-width: 20vw;
  padding: .5rem;
  background-color: var(--main-color);
}
.grow .home{
 background-image: url(../images/bg_3.jpg);
 background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  height: 100vh;
  padding-top: 5%;
}
.delay-neg-500 {
  animation-name: move;
  animation-delay: -300ms;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes move {
  from { right: -200px; }
  to { right: 0px; }
}

.grow .home h2{
  color: var(--white);
}
.grow .home h3{
  color: azure;
}

.grow .quote{
  min-height: 50vh;
  background-color: var(--main-color);
  background-size:cover;
  color: var(--white);
}
.grow .quote div{
  padding: 10px 3%;
}
.grow .quote p{
  font-family: var(--font-default);
  font-style: italic;
  line-height: 1.5;
  font-size: 2rem;
}
.grow .quote .details{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2.5rem;
  align-items: center;

}
.grow .quote .details img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.grow .quote .details h2{
  text-align: start;
  color: #f5f6f7;
}
.grow .hero{
  min-height: 30vh;
  padding: 2rem 0;
  font-size: 1.5rem;
}
.cars-for-sale {
  padding: 20px;
  background: #fff;
}

.car-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.car-item {
  border: 1px solid #ddd;
  padding: 10px;
  background: #f9f9f9;
  text-align: center;
}
.car-item .gari{
  height: 250px;
}
.car-item .gari img{
  height: 100%;
}
.car-images img{
  border: none;
}
.car-lists::after {
  content: "";
  width: 350px;
}
.car-item img {
  border: none;
  width: 100%;
  height: auto;
}
.car-item img:hover{
  transform: scale(1.1);
  border-radius: 4px;
}
.btn-buy, .btn-desc {
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.description .change-container{
  position: relative;
  display: inline-block;
  width: 560px;
  margin-top: 50px;
}

.changing {
  font-family: var(--font-secondary);
  position: absolute;
  overflow: hidden;
  width: 100%;
  left:0;
  bottom:0;
  height:0;
  opacity:0;
  color: #b1d4e0;
  text-transform: uppercase;
  word-spacing: 5px;
  text-align: center;
  font-size: 3rem;
}

.changing:nth-child(1) {
animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 1.5s infinite;
}

.changing:nth-child(2) {
animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 3s infinite;
}

.changing:nth-child(3) {
animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 4.5s infinite;
}

@keyframes revealNextWord {
0% { 
  opacity: 0.3; 
  height: 0.0; 
}
10% { 
  opacity: 1; 
  height:1.2em; 
}
20% { 
  opacity: 1; 
  height:1.2em; 
}
28% { 
  opacity: 0; 
  height:2em; 
}

}
.carousel {
  margin-top: 2%;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 90vh;
  width: 100vw;
}
.carousel-image {
  min-width: 100%;
  min-height: 100%;
  transition: transform 0.5s ease;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 60, 255);
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgba(255,255,255,0.6);
}


.test {
  overflow-x: hidden;
  width: 100vw;
  height: 75svh;
  display: grid;
  place-items: center;
}

.testify {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

.slider {
  width: min(90vw,500px);
  height: 300px;
  list-style-type: none;
  display: flex;
  transition: transform 1.25s;
  gap: 1.2rem;
}

.item {
  position: relative;
  min-width: 100%;
  height: inherit;
  display: flex;
  align-items: center;

  & .testimonial {
    width: 65%;
    padding: 2rem;
    padding-right: 5rem;
    background-color: var(--main-color);
    color: white;
    border-radius: 0.75rem;
    font: 100 0.7rem/1.6 helvetica,sans-serif;
    opacity: 0;
    transform: translateX(125px);

    & p {
      transform: translateY(20px);
      opacity: 0;
    }

    & p:nth-of-type(1) {
      font-weight: 900;
      font-size: 0.9rem;
    }

    & p:nth-of-type(2) {
      font-style: italic;
      font-weight: 400;
      margin-top: 1rem;
      font-size: 0.8rem;
      color: rgba(255,255,255,0.7);
    }

    & p:nth-of-type(3) {
      color: rgba(255,255,255,0.7);
      font-size: 0.65rem;
    }
  }

  & .image {
    position: absolute;
    right: 0;
    z-index: 10;
    width: 250px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    transform: translateX(-25px);
  }
}

.animation {
  & .image { animation: image 1.25s ease-out forwards; }

  & .testimonial {
    animation: testimonial 1s ease-out forwards;

    & p:nth-of-type(1) { animation: content 1s forwards 0.75s; }
    & p:nth-of-type(2) { animation: content 1s forwards 1s; }
    & p:nth-of-type(3) { animation: content 1s forwards 1.25s; }
  }
}

@keyframes image {
  100% {
    transform: translateX(0);
  }
}

@keyframes testimonial {
  50% { opacity: 1; }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes content {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slider-btn {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
  margin: 0 0.1rem;
  transition: width 0.3s;
}

.expand { width: 1.75rem; }
@media(max-width: 450px) {
  .item {
    & .testimonial{
      width: 90%;
      padding: 1rem;
      padding-right: 1.2rem;
    }    
    & .image {
      width: 30%;
    }
  }
  .slider {
    width: min(100vw,250px);
  } 
  .index .home{
    min-height: 80vh;
  }
  .index .offer{
    margin-top: -20%;
  }
}
.expand { width: 1.75rem; }
@media screen and (max-width: 768px) {
  
  .modal-content {
      width: 80%;
  }
}

.fixed{
  position: fixed;
  margin-left: 80vw;
  margin-top: -2%;
}
.whatsap{
  font-size: 1.3rem;
  padding: 1rem;
  background-color:var(--main-color);
  border-radius: 2rem;
}
.whatsap .bi-whatsapp{
  padding: 1rem .5rem;
  color: var(--white);
}
/* media queries */
@media(max-width: 450px) {
  html {
      font-size: 75%;
  }
  .footer .links{
    margin-top: -5%;
  }
  .footer .links a{
      font-size: 1rem;
  }
  .footer .cont h3{
    font-size: 1rem;
  }
  .footer .logo{
    width: 50px;
  }
  .credit{
    font-size: .65rem;
  }
  .index .description h2{
    font-size: 2.1em;
  }
  .centered-text {
    font-weight: 600;
    font-size:2.3rem;
  }
  .car-item .gari{
    height: 180px;
  }
  .fixed{
    margin-left: 50vw;
  }
  .grow .home{
    margin-top: 20%;
    color: var(--main-color);
  }
  .grow .home h2{
    color: var(--main-color);
  }
  .grow .quote p{
    font-size: 97.5%;
  }
  .grow .quote .details img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  .hire .home{
    max-height: 80vh;
  }
  .earn .home{
    max-height: 86vh;
  }
  .fixed{
    margin-top: 0;
    margin-left: 55%;
  }
}

@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 768px) {
  video {
  display: none;
}
#main{
  background-size: cover;
}
}