:root {
    --main-color: wheat;
    --black: #13131a;
    --bg: white;
    --white: #ffffff;
    --border: .1rem solid rgba(14, 14, 14, 0.22);
}

* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    background-color: var(--main-color);
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    height: 75vh;
}
/* header section */
.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black);
}
.header .navbar a.active{
font-weight: 600;
}
.header .navbar a:hover,
 .header .navbar a.active{
    border-bottom: .2rem solid var(--black);
    border-radius: 2px;
    padding-bottom: .5rem;
}
/* end of header section */

/* body section */

/* end of body section */

/* footer section styling */
footer{
    background: var(--bg);
    padding: 20px 10%;
    color: var(--black);
    position: bottom;
    font-size: 1.8rem;
    font-weight: 100;
    height: 75vh;
}

.footer{
    display: flex;
    justify-content: space-between;
}
.footer .shortcuts{
    display: block;
    text-transform: unset;
}
.footer .shortcuts ul{
    list-style: none;
    line-height: 3rem;
}
.footer .shortcuts ul li a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 100;
}
.footer .shortcuts ul li a:hover{
    border-bottom: .15rem solid rgba(6, 5, 5, 0.52);
    border-radius: 2px;
    padding-bottom: .5rem;
}
/* media queries */

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    .header .navbar {
        position: absolute;
        top: 100;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar .active {
        right: 0;
    }
    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media (min-aspect-ratio: 16/9) {
    video {
      width: 100%;
      height: auto;
    }
  }
@media (max-aspect-ratio: 16/9) {
    video {
      width: auto;
      height: 100%;
    }
  }
@media (max-width: 768px) {
    video {
    display: none;
  }
  #main{
    background-size: cover;
  }
}