:root {
    --main-color: rgb(8, 94, 180);
    --black: #13131a;
    --bg: white;
    --white: #ffffff;
    --border: .1rem solid rgba(0, 0, 0, 0.62);
}

* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 5rem;
}
/* navbar styling*/
.navbar img{
    width: 250px;
    height: 50px;
    margin-left: 22px;
}
.navbar{
    background-color: var(--white);
    position: fixed;
    width: 100%;
    z-index: 3;
}
.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
}

.navbar ul a{
    color: var(--black);
    display: block;
    padding: 1rem;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 4px;
    transition: .5s;
	text-decoration: none;
}

.navbar ul a.active,
.navbar ul a:hover{
    border-bottom: .2rem solid var(--black);
    border-radius: 2px;
    padding-bottom: .4rem;
    color: var(--main-color);
}
.navbar ul a:hover{
    font-weight: bold;
    border: none;
}
.navbar .menu{
    clear: both;
    max-height: 0;
    transition: max-height ,2s ease-out;
}
.navbar .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}
.navbar .menu-icon .nav-icon{
    background: var(--black);
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}
.navbar .menu-icon .nav-icon:before{
    background: var(--black);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}
.navbar .menu-icon .nav-icon:after{
    background: var(--black);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}
.navbar .menu-btn{
    display: none;
}
.navbar .menu-btn:checked ~ .menu{
    max-height: 400px;
}
.navbar .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}
.navbar .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}
.navbar .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}
@media (min-width:40em){
    .navbar li{
        float:left;
    }
    .navbar li a{
        padding: 1rem;
    }
    .navbar .menu{
        clear: none;
        float: right;
        max-height: none;
    }
    .navbar .menu-icon{
        display: none;
    }
}

nav ul li img.icon{
    height: 15px;
    width: 20px;
}
.testimonials {
background-color: antiquewhite;
overflow: hidden;
white-space: nowrap;
display: flex;
justify-content: space-between;
align-items: center;
/* position: relative; Needed for absolute positioning of buttons */
}

.person {
display: none;
width: 200px; /* Adjust as needed */
margin-right: 10px; /* Adjust as needed */
height: 200px;
}
.person:first-child {
display: inline-block; /* Display the first person initially */
}

.prev,
.next {
/* position: absolute;
top: 50%;
transform: translateY(-50%); */
background: none;
border: none;
color: #333;
font-size: 24px;
cursor: pointer;
}

/* home section */
.home{
    text-align: center;
}
.home video{
margin-top: -18%;
}
.home .description{
    font-size: 1.5rem;
    color: var(--main-color);
}
.home .description span{
color: var(--black);
}
/* end of home section */

/* footer section styling */
.footer{
    background: var(--bg);
    padding: 20px 10%;
    color: var(--black);
    position: bottom;
    font-size: 1.2rem;
    font-weight: 100;
    height: 65vh;
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer > div{
    min-width: 200px;
    padding: 1.5rem;
}
.footer .links{
    display: block;
    text-transform: unset;
}
.footer .links ul{
    list-style: none;
    line-height: 2rem;
}
.footer .links ul li a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 100;
}
.footer .links ul li a.active{
    font-weight: 600;
}
.footer .links ul li a:hover{
    border-bottom: .15rem solid rgba(6, 5, 5, 0.52);
    border-radius: 2px;
    padding-bottom: .5rem;
}

.share a{
padding:1rem;
}
/* media queries */
@media(max-width: 450px) {
    html {
        font-size: 70%;
    }
    footer{
        padding: 10px;
    }
    
}

@media (min-aspect-ratio: 16/9) {
    video {
      width: 100%;
      height: auto;
    }
  }
@media (max-aspect-ratio: 16/9) {
    video {
      width: auto;
      height: 100%;
    }
  }
@media (max-width: 768px) {
    video {
    display: none;
  }
  #main{
    background-size: cover;
  }
}
.tours .hero {
    padding: 15px 5%;
}
.tours .hero .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.tours .hero .row .col{
    max-width: 400px;
    min-height: 5rem;
    padding: 2.5rem;
}
.tours .connect form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}
.btn{
    color: var(--white);
    background-color: var(--main-color);
    padding: .6rem 1.2rem;
    font-size: 1.3rem;
    border-radius: .5rem;
} 