:root {
    --main-color: wheat;
    --black: #13131a;
    --bg: white;
    --white: #ffffff;
    --border: .1rem solid rgba(14, 14, 14, 0.22);
}

* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    background-color: var(--main-color);
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    height: 100vh;
}
/* header section */
/* .header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: (100vh-9.5rem);
} */
.header .logo img {
    height: 6rem;
}
.navbar img{
    width: 200px;
    height: 68px;
    margin-left: 22px;
}
.navbar{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 3;
    border-bottom: .5px solid grey;
}
.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    padding: 0 2rem;
}

.navbar ul a{
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: .5s;
	text-decoration: none;
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black);
}
.navbar ul a:hover,
.navbar ul a.active{
    border-bottom: .2rem solid var(--black);
    border-radius: 2px;
    padding-bottom: .5rem;
}
.navbar ul a:hover{
    transition: .5s;
    font-size: 22px;
}
.navbar ul a.active{
    font-weight: 600;
}
.navbar .menu{
    clear: both;
    max-height: 0;
    transition: max-height ,.5s ease-out;
}
.navbar .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}
.navbar .menu-icon .nav-icon{
    background: black;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}
.navbar .menu-icon .nav-icon:before{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}
.navbar .menu-icon .nav-icon:after{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}
.navbar .menu-btn{
    display: none;
}
.navbar .menu-btn:checked ~ .menu{
    max-height: 400px;
}
.navbar .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}
.navbar .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}
.navbar .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}
  /* Style the dropdown menu */
  ul.menu ul {
    display: none;
    font-size: 1rem;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  /* Style the dropdown menu items */
  ul.menu ul li {
    display: block;
    min-width: 100px;
  }

  /* Show the dropdown menu on click */
  ul.menu > li.active > ul {
    display: block;
  }
/* end of header section */

/* body section */

.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* end of body section */
.main-body{
    margin-top: 100px;
}
/* footer section styling */
footer{
    background: var(--bg);
    padding: 20px 10%;
    color: var(--black);
    position: bottom;
    font-size: 1.8rem;
    font-weight: 100;
    height: 75vh;
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer > div{
    min-width: 200px;
    padding: 1.5rem;
}
.footer .shortcuts{
    display: block;
    text-transform: unset;
}
.footer .shortcuts ul{
    list-style: none;
    line-height: 3rem;
}
.footer .shortcuts ul li a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 100;
}
.footer .shortcuts ul li a.active{
    font-weight: 600;
}
.footer .shortcuts ul li a:hover{
    border-bottom: .15rem solid rgba(6, 5, 5, 0.52);
    border-radius: 2px;
    padding-bottom: .5rem;
}
.footer-social-links a{
padding:1rem;
}
.footer-social-links .facebook{
    color: rgba(0, 89, 255, 0.911);
}
.footer-social-links .twitter{
    color: var(--black);
}
.footer-social-links .instagram{
    color: rgb(125, 7, 7,0.82);
}
.footer-social-links .linkedin{
    color: rgba(7, 65, 164, 0.968);
}
/* media queries */

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 2rem;
    }
}
@media (min-width:40em){
    .navbar li{
        float:left;
    }
    .navbar li a{
        padding: 20px 5px;
    }
    .navbar .menu{
        clear: none;
        float: right;
        max-height: none;
    }
    .navbar .menu-icon{
        display: none;
    }
}

nav ul li img.icon{
    height: 15px;
    width: 20px;
}

@media (max-width: 575px) {
    .navbar img{
        width: 120px;
        height: 55px;
        margin-left: 5px;
    }
}
@media(max-width: 450px) {
    html {
        font-size: 50%;
    }
    footer{
        padding: 10px;
    }
}

@media (min-aspect-ratio: 16/9) {
    video {
      width: 100%;
      height: auto;
    }
  }
@media (max-aspect-ratio: 16/9) {
    video {
      width: auto;
      height: 100%;
    }
  }
@media (max-width: 768px) {
    video {
    display: none;
  }
  #main{
    background-size: cover;
  }
}
.nerves{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}