<html>
<head><link rel="stylesheet" href="../css/styles.css"></head>
<body>
    <header class="header">
        <nav class="navbar">
            <img class="logo" id="logo" src="" alt="Logo">
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
            <!-- Menu-->
            <ul class="menu">
                <li><a href="home.html">Home</a></li>
                <li><a href="car.html">Hire a car</a></li>
                <li><a href="tours.html">Tours & Travel</a></li>
                <li><a href="earn.html">Earn</a></li>
                <li><a href="grow.html">Grow</a></li>
                <li><a href="buy.html">Buy a car</a></li>
                <li><a href="#" class="active">About Us</a></li>
                <li><a href="policy.html">Privacy Policy</a></li>
            </ul>
        </nav>
    </header>
<section class="about">
    <h2 class="title">We are a shared mobility startup offering peer to peer car rental platform to car owners to connect with pre-screened renters near them.</h2>
    <div class="row">
        <div class="columns">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="content">
            <h2>Twende terms of service</h2>
            <p>Hire your favorite car and explore the world. Every ride will be a tiny holiday .Learn more about Terms of service.</p>
            <a href="" class="btn">Terms of service</a>
            </div>
        </div>
        <div class="columns">
            <div class="content">
                <h2>List your car and Start Earning</h2>
                <p>List your personal car, share with friends and neighbors  and Earn. Be global.</p>
                <a href="" class="btn">Get started</a>
            </div>
            <div class="image"> <img src="" alt=""></div>
        </div>
        <div class="columns">
            <div class="image"><img src="" alt=""></div>
            <div class="content">
            <h2>Grow my car rental Business</h2>
            <p>List your car fleet and triple your bookings.</p>
            <a href="" class="btn">Get started</a>
            </div>
        </div>
        <div class="columns">
            <div class="content">
            <h2>Get a car from us</h2>
            <p>List your car fleet and triple your bookings.</p>
            <a href="" class="btn">Get started</a>
            </div>
            <div class="image"><img src="" alt=""></div>
        </div>
    </div>
</section>
</body>
</html>