<html>
<head>
    <link rel="stylesheet" href="../vendor/bootstrap-icons.css">
	<link rel="stylesheet" href="../vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>zeta carhires</title>
</head>
<body>
 <!-- header section starts here -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
    
        <a href="#" class="logo d-flex align-items-center  me-auto me-lg-0">
        <img src="../images/Logo.jpg" alt="">
        <h1>Zeta CarHires</h1>
        </a>
    
        <nav id="navbar" class="navbar">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="car.html">Hire a car</a></li>
            <li><a href="tours.html">Tours & Travel</a></li>
            <li><a href="earn.html">Earn</a></li>
            <li><a href="grow.html">Grow</a></li>
            <li><a href="buy.html">Buy a car</a></li>
            <li><a href="#" class="active">About Us</a></li>
            <li><a href="policy.html">Privacy Policy</a></li>
        </ul>
        </nav><!-- .navbar -->
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
    </header>
    <!-- End Header -->
    <h2>abou</h2>
<!-- <section class="about" style="margin-top: 8%;">
    <h2 class="title">We are a shared mobility startup offering peer to peer car rental platform to car owners to connect with pre-screened renters near them.</h2>
    <div class="row">
        <div class="columns">
            <div class="image">
                <img src="" alt="">
            </div>
            <div class="content">
            <h2>Zeta terms of service</h2>
            <p>Hire your favorite car and explore the world. Every ride will be a tiny holiday .Learn more about Terms of service.</p>
            <a href="" class="btn">Terms of service</a>
            </div>
        </div>
        <div class="columns">
            <div class="content">
                <h2>List your car and Start Earning</h2>
                <p>List your personal car, share with friends and neighbors  and Earn. Be global.</p>
                <a href="" class="btn">Get started</a>
            </div>
            <div class="image"> <img src="" alt=""></div>
        </div>
        <div class="columns">
            <div class="image"><img src="" alt=""></div>
            <div class="content">
            <h2>Grow my car rental Business</h2>
            <p>List your car fleet and triple your bookings.</p>
            <a href="" class="btn">Get started</a>
            </div>
        </div>
        <div class="columns">
            <div class="content">
            <h2>Get a car from us</h2>
            <p>List your car fleet and triple your bookings.</p>
            <a href="" class="btn">Get started</a>
            </div>
            <div class="image"><img src="../images/Logo.jpg" alt=""></div>
        </div>
    </div>
</section> -->
<section class="footer ">
	<!-- <div class="share ">
		<a href="" class="bi bi-facebook" aria-hidden="true "></a>
<a href="" class="bi bi-twitter " aria-hidden="true "></a>
<a href="" class="bi bi-instagram " aria-hidden="true "></a>
<a href="" class="bi bi-linkedin " aria-hidden="true "></a>
<a href="" class="bi bi-whatsapp " aria-hidden="true "></a>
	</div> -->
	<div class="logo">
		<img src="../images/Logo.jpg" alt="logo">
	</div>
	<div class="links ">
		<a href="../index.html">Home</a>
		<a href="car.html">Hire a car</a>
		<a href="tours.html">Tours & Travel</a>
		<a href="earn.html">Earn</a>
		<a href="grow.html">Grow</a>
		<a href="buy.html">Buy a car</a>
		<a href="#"class="active">About Us</a>
	</div>
	<div class="cont">
		<h3>Mobile Number</h3>
		<h3>Location</h3>
		<h3>customer service mail</h3>
	</div>
</section>
<!-- footer section ends here -->
<div class="credit ">created by <span>mr. kelvin kipkosgei</span> | all rights reserved</div>
</body>
<script src="../js/script.js"></script>
</html>