<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section class="home">
        <div class="description">
            <h2>Search.Book.Ride</h2>
            <p>Peace of mind</p>
        </div>
    </section>
    <section class="hero flex-column justify-content-center align-items-center">
       <div class="container">
        <h2>Take a cycle with friends</h2>
        <h3>hire a bike in mnutes</h3>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1>Hire a mountain bike</h1>
                <p>You offer your car for rental/Hire to your neighbor and EARN handsomely. After getting set up on Ride, most car owners earn enough to cover the costs of owning their cars, including loan monthly payments,fuel,and maintenance.</p>
            </div>
            <div class="col-lg-6">
                <h1>Your ride is covered</h1>
                <p>We understand that you need to enjoy the convenience of owning a car, Thus you retain the car and only rent it out when not using it.</p>
            </div>
            <div class="col-lg-6">
                <h1>Convenient delivery options</h1>
                <p>We only allow well screened renters on our platform. We assure you we have done due diligence.Before you approve a rental request, you have a view of the profile of the renter to get comfort.We have your back incase of any dispute.</p>
            </div>
        </div>
    </section>
    <section class="bike">
        <div class="contain">
            <h2>share your bike and earn</h2>
        </div>
    </section>
    <section class="testimonials">
        <div class="container">
            <div>
                <div class="image">
                    <img src="" alt="">
                </div>
                <div class="text">
                    <h2>Amazing platform</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quas alias repudiandae dolorem voluptas, quibusdam commodi voluptate nisi expedita iste inventore odit, non laudantium? Tempora?</p>
                    <h3>name</h3>
                </div>
            </div>
            <div>
                <div class="image">
                    <img src="" alt="">
                </div>
                <div class="text">
                    <h2>Rona Cyclist</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quas alias repudiandae dolorem voluptas, quibusdam commodi voluptate nisi expedita iste inventore odit, non laudantium? Tempora?</p>
                    <h3>name</h3>
                </div>
            </div>
        </div>
    </section>
</body>
</html>