<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/bootstrap-icons.css">
	<link rel="stylesheet" href="../vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <style>
    * {
    box-sizing: border-box;
    }
    </style>
</head>
<body class="buy">
<!-- header section starts here -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
    
        <a href="#" class="logo d-flex align-items-center  me-auto me-lg-0">
        <img src="" alt="">
        <h1>Zeta CarHires</h1>
        </a>
    
        <nav id="navbar" class="navbar">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="car.html">Hire a car</a></li>
            <li><a href="tours.html">Tours & Travel</a></li>
            <li><a href="earn.html">Earn</a></li>
            <li><a href="grow.html">Grow</a></li>
            <li><a href="#" class="active">Buy a car</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="policy.html">Privacy Policy</a></li>
        </ul>
        </nav><!-- .navbar -->
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
    </header>
    <!-- End Header -->
     <!-- home section starts here -->
    <section class="home" id="home">
        <div class="content">
            <div class="one"><h2>Get your dream car from us</h2></div>
        </div>
    </section>
    <!-- home section ends here -->

    <!-- menu section starts here -->
    <section class="hero">

        <h1 class="head">our<span> cars </span></h1>

        <div class="row">            
            <div class="col">
                <img src="/media/images/Mazda-Demio.jpg" alt="">
                <h3>Mazda demio</h3>
                <div class="price">$ 200.99</div>
                <button class="btn">Enquire</button>
            </div>
            <div class="col">
                <img src="/media/images/Mazda-Demio.jpg" alt=" ">
                <h3>mark x,teana or similar</h3>
                <div class="price">$ 15.99</div>
                <button class="btn">Enquire</button>
            </div>
            <div class="col">
                <img src="/media/images/mazda cx5.jpg" alt=" ">
                <h3>toyota prado or similar</h3>
                <div class="price">$ 55.99</div>
                <button class="btn">Buy</button>
            </div>
            <div class="col">
                <img src="/media/images/mazda cx5.jpg " alt=" ">
                <h3>stretch limousines</h3>
                <div class="price">$ 15.99</div>
                <button class="btn">Buy</button>
            </div>
            <div class="col">
                <img src="/media/images/mazda cx5.jpg" alt=" ">
                <h3>open safari land-cruiser</h3>
                <div class="">$ 15.99</div>
                <button class="btn">Buy</button>
            </div>
        </div>
    </section>   
</body>
<script src="../js/script.js"></script> 
</html>