<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeta carhires</title>

    <!-- custom css link -->
    <link rel="stylesheet" href="../css/new.css">

    <!-- javascript link -->
    <script type="module" src="../js/script.js" defer></script>
    <title>zeta carhires</title>
</head>

<body>
    <!-- header section starts here -->
    <header class="header">
        <a href="#" class="logo">
            <img src="" alt="logo">
        </a>
        <div>
            <div>
                <nav class="navbar">
                    <a href="home.html">Home</a>
                    <a href="#" class="active">Hire a car</a>
                    <a href="tours.html">Tours & Travel</a>
                    <a href="earn.html">Earn</a>
                    <a href="grow.html">Grow</a>
                    <a href="buy.html">Buy a car</a>
                    <a href="about.html">About Us</a>
                    <a href="policy.html">Privacy Policy</a>      
                </nav>
            </div>
            <div class="icons">
                <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
                <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>          
            </div>
        </div>
    </header>
    <!-- header section ends here -->

    <!-- home section starts here -->
    <section class="home" id="home">
        <div class="content">
            <div class="one"><h2>Hire your favorite car in minutes</h2></div>
            <div class="two"><h3>"For every <span>7</span> cars hired in Nairobi,<span> 4 </span>are from us"</h3><p>Hire a car in minutes</p></div>
        </div>
    </section>
    <!-- home section ends here -->

    <!-- menu section starts here -->
    <section class="menu" id="menu">

        <h1 class="heading">our<span> cars </span></h1>

        <div class="box-container" id="product-list">            
            <div class="box">
                <img src="/media/images/Mazda-Demio.jpg" alt="">
                <h3>Mazda demio</h3>
                <div class="price">From $<span> 20.99</span> per day</div>
                <button class="hire">Hire now</button>
            </div>
            <div class="box">
                <img src="/media/images/Mazda-Demio.jpg" alt=" ">
                <h3>mark x,teana or similar</h3>
                <div class="price">From $<span> 20.99</span> per day</div>
                <button class="hire">Hire now</button>
            </div>
            <div class="box">
                <img src="/media/images/mazda cx5.jpg " alt=" ">
                <h3>nissan xtrail or similar</h3>
                <div class="price">From $<span> 20.99</span> per day</div>
                <button class="hire">Hire now</button>
            </div>
            <div class="box">
                <img src="/media/images/mazda cx5.jpg" alt=" ">
                <h3>toyota prado or similar</h3>
                <div class="price">From $<span> 20.99</span> per day</div>
                <button class="hire">Hire now</button>
            </div>
            <div class="box">
                <img src="/media/images/mazda cx5.jpg " alt=" ">
                <h3>stretch limousines</h3>
                <div class="price">From $<span> 20.99</span> per day</div>
                <button class="hire">Hire now</button>
            </div>
            <div class="box">
                <img src="/media/images/mazda cx5.jpg" alt=" ">
                <h3>open safari land-cruiser</h3>
                <div class="price">From $<span> 20.99</span> per day</div>
                <button class="hire">Hire now</button>
            </div>
        </div>
    </section>
    <!-- menu section ends here -->

    <!-- review section starts here -->
    <section class="review" id="review">

        <h1 class="heading"> client's <span>review</span></h1>

        <div class="box-container">
            <div class="box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, commodi veritatis quaerat consequuntur adipisci molestias enim sapiente magni. Et nulla vero quas blanditiis repellendus earum nihil temporibus accusamus eius alias!</p>
                <img src="/media/images/pic-1.png" alt=" " class="user" alt=" ">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-alt" aria-hidden="true"></i>
                </div>
            </div>
            <div class="box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, commodi veritatis quaerat consequuntur adipisci molestias enim sapiente magni. Et nulla vero quas blanditiis repellendus earum nihil temporibus accusamus eius alias!</p>
                <img src="/media/images/pic-2.png" alt=" " class="user" alt=" ">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-alt" aria-hidden="true"></i>
                </div>
            </div>
            <div class="box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, commodi veritatis quaerat consequuntur adipisci molestias enim sapiente magni. Et nulla vero quas blanditiis repellendus earum nihil temporibus accusamus eius alias!</p>
                <img src="/media/images/pic-3.png" alt=" " class="user" alt=" ">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-alt " aria-hidden="true "></i>
                </div>
            </div>
        </div>
    </section>
    <!-- review section ends here -->

    <section class="contacts" id="contacts">
        <!-- <div class="change-container">
            <div>
                <span>HIRE YOUR FAVORITE CAR IN MINUTES</span>
                <span>all cars available near you</span>
                <span>VISIT</span>
                <a href="">zetacarhires.com</a>
            </div>
            <div>
                <span>Have you been dreaming of driving a car</span>
                <span>Get yourself your dream car from us </span>
            </div>
        </div> -->
        <div class="heading"><span>contact</span> us</div>
        <div class="row">
            <form method="post" action=''>
                <fieldset>
                  <label for="full-name">Full Name <input id="full-name" name="full-name" type="text" required /></label>
                  <label for="phone">Mobile Number <input id="phone" name="phone" type="tel" pattern="{10,}" required /></label>
                  <label for="start-date">From when <input id="start-date" name="start-date" type="date" required /></label>
                  <label for="end-date">To when <input id="end-date" name="end-date" type="date" required /></label>
                  <label for="destination">Destination <input id="destination" name="destination" type="address" required /></label>
                  <label for="car">Type of car
                    <select id="car" name="car">
                      <option value="">(select a car)</option>
                      <option value="1">Prado</option>
                      <option value="2">Mazda Demio</option>
                      <option value="3">Toyota volvo</option>
                      <option value="3">Mitsubishi</option>
                      <option value="4">Other</option>
                    </select>
                  </label>
                </fieldset>
                <input type="submit" value="Submit" />
              </form>
        </div>
    </section>
    <!-- review section ends here -->

    <!-- footer section starts here -->

    <section class="footer ">
        <!-- <div class="share ">
            <a href="" class="bi bi-facebook" aria-hidden="true "></a>
	<a href="" class="bi bi-twitter " aria-hidden="true "></a>
	<a href="" class="bi bi-instagram " aria-hidden="true "></a>
	<a href="" class="bi bi-linkedin " aria-hidden="true "></a>
	<a href="" class="bi bi-whatsapp " aria-hidden="true "></a>
        </div> -->
        <div class="logo">
            <img src="" alt="logo">
        </div>
        <div class="links ">
            <a href="home.html">Home</a>
            <a href="#" class="active">Hire a car</a>
            <a href="tours.html">Tours & Travel</a>
            <a href="earn.html">Earn</a>
            <a href="grow.html">Grow</a>
            <a href="car.html">Buy a car</a>
            <a href="about.html">About Us</a>
        </div>
        <div class="cont">
            <h3>Mobile Number</h3>
            <h3>Location</h3>
            <h3>customer service mail</h3>
        </div>
    </section>
    <!-- footer section ends here -->
    <div class="credit ">created by <span>mr. kelvin kipkosgei</span> | all rights reserved</div>
</body>

</html>