<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/bootstrap-icons.css">
	<link rel="stylesheet" href="../vendor/bootstrap.min.css">
  	<link rel="stylesheet" href="../css/styles.css">
      <title>zeta carhires</title>
</head>
<body class="earn">
     <!-- header section starts here -->
<header id="header" class="header d-flex align-items-center fixed-top">
<div class="container-fluid d-flex align-items-center justify-content-between">

	<a href="#" class="logo d-flex align-items-center  me-auto me-lg-0">
	<img src="../images/Logo.jpg" alt="">
	<h1>Zeta CarHires</h1>
	</a>

	<nav id="navbar" class="navbar">
	<ul>
		<li><a href="../index.html">Home</a></li>
		<li><a href="car.html">Hire a car</a></li>
		<li><a href="tours.html">Tours & Travel</a></li>
		<li><a href="" class="active">Earn</a></li>
		<li><a href="grow.html">Grow</a></li>
		<li><a href="buy.html">Buy a car</a></li>
		<li><a href="about.html">About Us</a></li>
		<li><a href="policy.html">Privacy Policy</a></li>
	</ul>
	</nav><!-- .navbar -->
	<i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
	<i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
</div>
</header>
<!-- End Header -->
    <section class="home">
        <div class="description">
            <h2>Become a car sharing entrepreneur</h2>
        </div>
    </section>
    <section class="fixed">
        <div class="whatsap">
            <a href="" class="bi bi-whatsapp" aria-hidden="true">&nbsp;&nbsp;Chat with Us</a>
        </div>
    </section>
    <section class="hero flex-column justify-content-center align-items-center">
       <div class="container">
        <div class="row justify-content-center">
            <h2>Why share your car?</h2>
            <div class="col-lg-4">
                <h1>Earn</h1>
                <p>You offer your car for rental/Hire to your neighbor and EARN handsomely. After getting set up on Ride, most car owners earn enough to cover the costs of owning their cars, including loan monthly payments,fuel,and maintenance.</p>
            </div>
            <div class="col-lg-4">
                <h1>Freedom</h1>
                <p>We understand that you need to enjoy the convenience of owning a car, Thus you retain the car and only rent it out when not using it.</p>
            </div>
            <div class="col-lg-4">
                <h1>Peace of mind</h1>
                <p>We only allow well screened renters on our platform. We assure you we have done due diligence.Before you approve a rental request, you have a view of the profile of the renter to get comfort.We have your back incase of any dispute.</p>
            </div>
        </div>
       </div>
    </section>
    <section class="inquire">

    </section>
   
    <section class="connect flex-column justify-content-center align-items-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content">
                    <div><h1>Zeta<span> peace of mind</span></h1></div>
                    <div>be independent</div>
                    <div>your car is your ca(r)pital</div>
                    <div>link</div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3>Contact us anytime</h3>
                <p>Have a question? We're here to help. Send us a message and we'll get be in touch.</p>
                <form action="" method="post">
                    <label for="full_name">Name<input type="text" id="full_name" name="full_name"></label>
                    <label for="email">Email<input type="email" id="email" name="email"></label>
                    <label for="phone_number">Phone Number<input type="tel" id="phone_number" name="phone_number"></label>
                    <button type="submit">send</button>
                </form>
            </div>
        </div>
    </section>
    <section class="testimonial">
        <h2>testimonials</h2>
        <div class="box-container">
            <div class="box">
                <img src="../media/images/pic-1.png" alt=" " class="user" alt=" ">
                <div class="marks"><i class="bi bi-quote" aria-hidden="true "></i></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, commodi veritatis quaerat consequuntur adipisci molestias enim sapiente magni. Et nulla vero quas blanditiis repellendus earum nihil temporibus accusamus eius alias!</p>
                <h3>john deo</h3>
            </div>
            <div class="box">
                <img src="../media/images/pic-2.png" alt=" " class="user" alt=" ">
                <div class="marks"><i class="bi bi-quote" aria-hidden="true "></i></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, commodi veritatis quaerat consequuntur adipisci molestias enim sapiente magni. Et nulla vero quas blanditiis repellendus earum nihil temporibus accusamus eius alias!</p>
                <h3>john deo</h3>
            </div>
            <div class="box">
                <img src="../media/images/pic-3.png" alt=" " class="user" alt=" ">
                <div class="marks"><i class="bi bi-quote" aria-hidden="true "></i></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, commodi veritatis quaerat consequuntur adipisci molestias enim sapiente magni. Et nulla vero quas blanditiis repellendus earum nihil temporibus accusamus eius alias!</p>
                <h3>john deo</h3>
            </div>
            <div class="box">
                <img src="../media/images/pic-1.png" alt=" " class="user" alt=" ">
                <div class="marks"><i class="bi bi-quote" aria-hidden="true "></i></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, commodi veritatis quaerat consequuntur adipisci molestias enim sapiente magni. Et nulla vero quas blanditiis repellendus earum nihil temporibus accusamus eius alias!</p>
                <h3>john deo</h3>
            </div>
        </div>
    </section>
    
<section class="footer ">
    <div class="div1">
        <div class="logo">
            <img src="../images/Logo.jpg" alt="logo" style="border: none;">
        </div>
        <div class="links ">
            <a href="../index.html">Home</a>
            <a href="car.html">Hire a car</a>
            <a href="tours.html">Tours & Travel</a>
            <a href="#" class="active">Earn</a>
            <a href="grow.html">Grow</a>
            <a href="buy.html">Buy a car</a>
            <a href="about.html">About Us</a>
        </div>
        <div class="cont">
            <h3>Mobile Number</h3>
            <h3>Location</h3>
            <h3>customer service mail</h3>
        </div>
    </div>
    <div class="share ">
		<a href="" class="bi bi-facebook" aria-hidden="true "></a>
        <a href="" class="bi bi-twitter " aria-hidden="true "></a>
        <a href="" class="bi bi-instagram " aria-hidden="true "></a>
        <a href="" class="bi bi-linkedin " aria-hidden="true "></a>
        <a href="" class="bi bi-whatsapp " aria-hidden="true "></a>
	</div>
</section>
<!-- footer section ends here -->
<div class="credit ">Zeta <span>carhires</span> | all rights reserved</div>
</body>
<script src="../js/script.js"></script>
</html>