<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section class="home">
        <div class="description">
            <h2>Expand your car hire business</h2>
            <p>List your fleet on <a href="">Ride</a> and triple your bookings</p>
        </div>
        <div class="book">
            <form action="" method="post">
                <h3>Book a call with us</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, quam.</p>
                <input type="text" id="personal_name" name="personal_name" placeholder="Personal Name">
                <input type="text" id="company_name" name="company_name" placeholder="Company Name">
                <input type="email" id="email" name="email" placeholder="Email">
                <input type="tel" id="phone_number" name="phone_number" placeholder="Phone">
                <input type="number" id="cars" name="cars" placeholder="Number of cars">
                <button type="submit" class="btn">book</button>
            </form>
        </div>
    </section>
    <section class="hero flex-column justify-content-center align-items-center">
       <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="img"></div>
                <div class="title">Save time</div>
            </div>
            <div class="col-lg-6">
                <div class="img"></div>
                <div class="title">earn more</div>
            </div>
            <div class="col-lg-6">
                <div class="img"></div>
                <div class="title">Grow faster</div>
            </div>
            <div class="col-lg-6">
                <div class="img"></div>
                <div class="title">friendly support</div>
            </div>
        </div>
       </div>
    </section>
    <section class="quote">
       <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum autem ab, neque itaque quis obcaecati consequuntur! Aspernatur accusantium alias minima.</div>
       <div class="details">
        <div class="image"><img src="" alt=""></div>
        <div>
            <h2>name</h2>
            <h2>CEO instant Hires.</h2>
        </div>
       </div>
    </section>
</body>
</html>