<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/bootstrap-icons.css">
	<link rel="stylesheet" href="../vendor/bootstrap.min.css">
  	<link rel="stylesheet" href="../css/styles.css">
      <title>zeta carhires</title>
</head>
<body class="grow">
     <!-- header section starts here -->
<header id="header" class="header d-flex align-items-center fixed-top">
<div class="container-fluid d-flex align-items-center justify-content-between">

	<a href="#" class="logo d-flex align-items-center  me-auto me-lg-0">
	<img src="../images/Logo.jpg" alt="">
	<h1>Zeta CarHires</h1>
	</a>

	<nav id="navbar" class="navbar">
	<ul>
		<li><a href="../index.html">Home</a></li>
		<li><a href="car.html">Hire a car</a></li>
		<li><a href="tours.html">Tours & Travel</a></li>
		<li><a href="earn.html">Earn</a></li>
		<li><a href="" class="active">Grow</a></li>
		<li><a href="buy.html">Buy a car</a></li>
		<li><a href="about.html">About Us</a></li>
		<li><a href="policy.html">Privacy Policy</a></li>
	</ul>
	</nav><!-- .navbar -->
	<i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
	<i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
</div>
</header>
    <section class="home">
        <div class="description">
            <h2>Expand your car hire business</h2>
            <h3>List your fleet on <a href="">Zeta</a> and triple your bookings</h3>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-9">
                <form action="" method="post" class="delay-neg-500">
                    <h3 style="color: rgb(8, 94, 180);">Book a call with us</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, quam.</p>
                    <div class="form-group mt-3"><input type="text" class="form-control" id="personal_name" name="personal_name" placeholder="Personal Name"></div>
                    <div class="form-group mt-3"><input type="text" class="form-control" id="company_name" name="company_name" placeholder="Company Name"></div>
                    <div class="form-group mt-3"><input type="email" class="form-control" id="email" name="email" placeholder="Email"></div>
                    <div class="form-group mt-3"><input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Phone"></div>
                    <div class="form-group mt-3"><input type="number" class="form-control" id="cars" name="cars" placeholder="Number of cars"></div>
                    <div class="text-center"><button type="submit" class="btn">book</button></div>
                </form>
            </div>
        </div>
    </section>
    <section class="hero flex-column justify-content-center align-items-center">
       <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-2">
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="title">Save time</div>
            </div>
            <div class="col-lg-2">
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="title">earn more</div>
            </div>
            <div class="col-lg-2">
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="title">Grow faster</div>
            </div>
            <div class="col-lg-2">
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="title">friendly support</div>
            </div>
        </div>
       </div>
    </section>
    <section class="quote">
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, eligendi magni ipsa, neque possimus mollitia et veritatis magnam, excepturi tempora accusantium. Expedita veritatis inventore excepturi, minus doloribus a quas eum?</p>
       <div class="details">
        <div class="image"><img src="../images/person_1.jpg" alt=""></div>
        <h2>Noel Kipkoech</br>CEO zeta car hires</h2>
       </div>
    </section>
    
<section class="footer ">
	<!-- <div class="share ">
		<a href="" class="bi bi-facebook" aria-hidden="true "></a>
<a href="" class="bi bi-twitter " aria-hidden="true "></a>
<a href="" class="bi bi-instagram " aria-hidden="true "></a>
<a href="" class="bi bi-linkedin " aria-hidden="true "></a>
<a href="" class="bi bi-whatsapp " aria-hidden="true "></a>
	</div> -->
	<div class="logo">
		<img src="../images/Logo.jpg" alt="logo" style="border: none;">
	</div>
	<div class="links ">
		<a href="../index.html">Home</a>
		<a href="car.html">Hire a car</a>
		<a href="tours.html">Tours & Travel</a>
		<a href="earn.html">Earn</a>
		<a href="#" class="active">Grow</a>
		<a href="buy.html">Buy a car</a>
		<a href="about.html">About Us</a>
	</div>
	<div class="cont">
		<h3>Mobile Number</h3>
		<h3>Location</h3>
		<h3>customer service mail</h3>
	</div>
</section>
<!-- footer section ends here -->
<div class="credit ">created by <span>mr. kelvin kipkosgei</span> | all rights reserved</div>
</body>
<script src="../js/script.js"></script>
</html>