<!DOCTYPE html>
<html lang="en">

<head>
	<title>Twende Rides</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Travello template project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/new.css"> -->
  	<link rel="stylesheet" href="../css/styles.css">

</head>

<body>
 <!-- header section starts here -->
 
 <header class="header">
	<nav class="navbar">
		<img class="logo" id="logo" src="" alt="Logo">
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
		<!-- Menu-->
		<ul class="menu">
			<li><a href="" class="active">Home</a></li>
			<li><a href="car.html">Hire a car</a></li>
			<li><a href="">Tours & Travel</a></li>
			<li><a href="">Earn</a></li>
			<li><a href="">Grow</a></li>
			<li><a href="">Hire a Bike</a></li>
			<li><a href="">About Us</a></li>
			<li><a href="">Privacy Policy</a></li>
		</ul>
	</nav>
</header>
<!-- <section id="#main" class="vidaa">
	<div class="video"></div>
	<video src="/media/video/Twende.mp4" muted autoplay loop></video>
</section> -->
<section class="home">
	<div class="video" id="main">
		<video src="/media/video/Twende.mp4" muted autoplay loop></video>
	</div>
	<div class="description">
		<h2 class="welcome">Welcome to Twende</h2>
		<h2>Hire.Earn.Grow</h2>
	</div>
	<div class="testimonials">
        <button class="prev">&#8249;</button>
        <div class="carousel">
            <div class="person">
                <p>Simply the best way to hire a car</p>
                <a href="">John Bosco</a>
            </div>
            <div class="person">
                <p>Another testimonial</p>
                <a href="">John Doe</a>
            </div>
            <div class="person">
                <p>Yet another testimonial</p>
                <a href="">Jane Smith</a>
            </div>
        </div>
        <button class="next">&#8250;</button>
    </div>
</section>
<!-- <section class="carousel">
	<div class="carou">
		<div class="testimonials">
			<div class="person">
				<p>Simply the best way to hire a car</p>
				<a href="">Paul Rosso</a>
			</div>
			<div class="person">
				<p>Simply the best way to hire a car</p>
				<a href="">Paul Rosso</a>
			</div>
			<div class="person">
				<p>Simply the best way to hire a car</p>
				<a href="">Paul Rosso</a>
			</div>
		</div>
	</div>
</section> -->


<section class="footer ">
	<!-- <div class="share ">
		<a href="https://web.facebook.com/kelvin.sanga.7334?_rdc=1&_rdr " class="bi bi-facebook" aria-hidden="true "></a>
		<a href="https://twitter.com/home " class="bi bi-twitter " aria-hidden="true "></a>
		<a href="https://www.instagram.com/ " class="bi bi-instagram " aria-hidden="true "></a>
		<a href="https://ke.linkedin.com/ " class="bi bi-linkedin " aria-hidden="true "></a>
		<a href="https://github.com/Sanga78 " class="bi bi-github " aria-hidden="true "></a>
	</div> -->
	<div class="logo">
		<img src="" alt="logo">
	</div>
	<div class="links ">
		<a href="home.html">Home</a>
		<a href="#" class="active">Hire a car</a>
		<a href="">Tours & Travel</a>
		<a href="">Earn</a>
		<a href="">Grow</a>
		<a href="">Hire a Bike</a>
		<a href="">About Us</a>
		<a href="">Privacy Policy</a>
	</div>
	<div class="cont">
		<h3>Mobile Number</h3>
		<h3>Location</h3>
		<h3>customer service mail</h3>
	</div>
</section>
</body>
<script src="../js/script.js"></script>
</html>
