<!DOCTYPE html>
<html lang="en">

<head>
	<title>Twende Rides</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Travello template project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    

	 <!-- nav/menu -->
     <nav class="navbar">
		<img class="logo" id="logo" src="" alt="Twende Rides">
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
		<!-- Menu-->
		<ul class="menu">
			<li><a href="">Home</a></li>
			<li><a href="">Hire a car</a></li>
			<li><a href="">Tours & Travel</a></li>
			<li><a href="">Earn</a></li>
			<li><a href="">About Us</a></li>
			<li><a href="">Privacy Policy</a></li>
		</ul>
	</nav>

<section clas="main-body">
	<div class="video">
		<video src="/media/video/Twende.mp4"></video>
	</div>
	<div class="description">
		<h2>Welcom to Twende</h2>
		<h2>Hire.Earn.Grow</h2>
	</div>
	<div class="testimonials">
		<div class="person">
			<p>Simply the best way to hire a car</p>
			<a href="">Paul Rosso</a>
		</div>
		<div class="person">
			<p>Simply the best way to hire a car</p>
			<a href="">Paul Rosso</a>
		</div>
		<div class="person">
			<p>Simply the best way to hire a car</p>
			<a href="">Paul Rosso</a>
		</div>
	</div>
</section>
<section class="footer">
	<div class="fter">
		<div class="img">
			<img src="" alt="">
		</div>
		<div class="shortcuts">
			<ul class="links">
				<li><a href="">Home</a></li>
				<li><a href="">Hire a car</a></li>
				<li><a href="">Tours & Travel</a></li>
				<li><a href="">Earn</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="">Privacy Policy</a></li>
			</ul>
		</div>
		<div class="contacts">
			<p>Mobile Number: </p>
			<p>Plaza</p>
			<p>Area</p>
			<p>email</p>
		</div>
	</div>
</section>
</body>
</html>
