<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/bootstrap-icons.css">
	<link rel="stylesheet" href="../vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>zeta carhires</title>
</head>
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
    
        <a href="#" class="logo d-flex align-items-center  me-auto me-lg-0">
        <img src="../images/Logo.jpg" alt="">
        <h1>Zeta CarHires</h1>
        </a>
    
        <nav id="navbar" class="navbar">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="car.html">Hire a car</a></li>
            <li><a href="tours.html">Tours & Travel</a></li>
            <li><a href="earn.html">Earn</a></li>
            <li><a href="grow.html">Grow</a></li>
            <li><a href="buy.html">Buy a car</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="" class="active">Privacy Policy</a></li>
        </ul>
        </nav><!-- .navbar -->
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
    </header>
    <body>
        
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Labore voluptatem non fugiat numquam dolores ab, laudantium quod quasi, officiis nobis vel. 
    Vitae tempore nulla saepe facilis libero inventore totam a, nobis neque. 
    Distinctio, cumque. Odio molestiae, laboriosam officiis repellat impedit quia labore obcaecati eius vero nihil est, 
    beatae dolorem saepe cumque quibusdam nobis, tempore aut totam illum? 
    Atque amet doloribus sit nisi tempora veniam voluptas minus quidem soluta consectetur esse adipisci, 
    distinctio ullam molestias exercitationem numquam deleniti delectus doloremque aperiam, 
    inventore quam provident, impedit tenetur quod. Cumque, modi! Sunt sit numquam ut, 
    ad perferendis qui a iusto perspiciatis incidunt molestiae?
    <section class="footer ">
        <!-- <div class="share ">
            <a href="" class="bi bi-facebook" aria-hidden="true "></a>
    <a href="" class="bi bi-twitter " aria-hidden="true "></a>
    <a href="" class="bi bi-instagram " aria-hidden="true "></a>
    <a href="" class="bi bi-linkedin " aria-hidden="true "></a>
    <a href="" class="bi bi-whatsapp " aria-hidden="true "></a>
        </div> -->
        <div class="logo">
            <img src="../images/Logo.jpg" alt="logo" style="border: none;">
        </div>
        <div class="links ">
            <a href="../index.html">Home</a>
            <a href="car.html">Hire a car</a>
            <a href="tours.html">Tours & Travel</a>
            <a href="earn.html">Earn</a>
            <a href="grow.html">Grow</a>
            <a href="buy.html">Buy a car</a>
            <a href="about.html">About Us</a>
        </div>
        <div class="cont">
            <h3>Mobile Number</h3>
            <h3>Location</h3>
            <h3>customer service mail</h3>
        </div>
    </section>
    <!-- footer section ends here -->
    <div class="credit ">created by <span>mr. kelvin kipkosgei</span> | all rights reserved</div>
    </body>
    <script src="../js/script.js"></script>
    </html>