<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/bootstrap-icons.css">
	<link rel="stylesheet" href="../vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
    
        <a href="#" class="logo d-flex align-items-center  me-auto me-lg-0">
        <img src="" alt="">
        <h1>Zeta CarHires</h1>
        </a>
    
        <nav id="navbar" class="navbar">
        <ul>
            <li><a href="" class="active">Home</a></li>
            <li><a href="car.html">Hire a car</a></li>
            <li><a href="tours.html">Tours & Travel</a></li>
            <li><a href="earn.html">Earn</a></li>
            <li><a href="grow.html">Grow</a></li>
            <li><a href="buy.html">Buy a car</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="privacy.html">Privacy Policy</a></li>
        </ul>
        </nav><!-- .navbar -->
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
    </header>
<body class="tours">
    <section class="home">
        <div class="content">
            <h2>Memorable safari for you and your family</h2>
            <a href="" class="btn">Talk to us</a>
        </div>
    </section>
    <section class="hero">
        <div class="row">
            <div class="col">
                <div class="img">
                    <img src="" alt="img">
                </div>
                <div class="title">Family & individual safari tours</div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="" alt="img">
                </div>
                <div class="title">Corporate,Group & Event Tours</div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="" alt="img">
                </div>
                <div class="title">Bespoke Transport Solutions</div>
            </div>
        </div>
    </section>
    <section class="plan">
        <div class="image">
            <img src="" alt="img">
        </div>
        <div class="memory">
            <h3>Create amazing memories</h3>
            <p>Let's plan your trip to the national park for a game Drive-Trip from Nairobi</br>one of the experts will get back to you as soon as possible.</p>
            <a href="" class="btn">lets start planning</a>
        </div>
    </section>
    <section class="connect">
        <h2>Lets connect<br> call us/Whatsapp us on <span>1234567890</span></h2>
        <form action="" method="post">
            <h3>contact us anytime</h3>
            <label for="full_name">Full Name: <input type="text" id="full_name" name="full_name"></label>
            <label for="email">Email: <input type="email" id="email" name="email"></label>
            <label for="phone_number">Mobile Number: <input type="tel" id="phone_number" name="phone_number"></label>
            <label for="reply">How we can help you: <textarea id="bio" name="bio" rows="3" cols="30" placeholder="I want to visit..."></textarea></label>
            <button type="submit"class="btn">send</button>
        </form>
    </section>
    <section class="video">

    </section>
</body>
<script src="../js/script.js"></script> 
</html>